<!-- ==============================================
     NAVBAR
============================================== -->
<header class="header">
  <!-- 1) Menú de navegación a la izquierda -->
  <nav class="main-nav">
    <a href="#" (click)="goHome($event)">Inicio</a>
    <a href="#" (click)="goProducts($event)">Productos</a>
    <a href="#" (click)="goAbout($event)">Sobre Nosotros</a>

  </nav>

  <!-- 2) Logo/Centro -->
  <div class="logo" (click)="goHome($event)">
    <img src="assets/logoCafe.png" alt="Logo Café" class="logo-img" />
    <span class="logo-text">TEMPLATE CAFÉ</span>
  </div>

  <!-- 3) Botones a la derecha -->

  <div class="buttons">
    <ng-container *ngIf="!authService.isAuthenticated(); else loggedIn">
      <button class="login" (click)="goLogin($event)">Inciar Sesión</button>
      <button class="login" (click)="goRegister($event)">Registrate</button>
    </ng-container>
    <ng-template #loggedIn>
      <span class="user" *ngIf="getUsername()">Hola, {{ getUsername() }}</span>
      <button class="login" (click)="logout()">Cerrar Sesión</button>
      <button class="cart" (click)="goCart()">Carrito ({{ cartCount }})</button>

    </ng-template>
  </div>


</header>